*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    padding-top: 1px;
    margin: 0;
    font-family: Aharoni, "Aharoni Bold", sans-serif;
    background: #ffffff;
    color: #000000;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h2 {
    font-family: 'Courier New', serif;
}

.whitespace {
    font-size: 0.7rem;
    color: transparent;
}

.dashboard {
    padding: 8px;
    padding-top: 0px;
    background: #1a2b52d7;
}


.sumarry-reports {

    background-image:
        linear-gradient(rgba(255, 255, 255, 0.700), rgba(255, 255, 255, 0.700)),
        url("../../Images/underConstruction.jpeg");
    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 1000px;
}
/*
#iMap{
    width:100%;
    height:700px;
    border-bottom-left-radius:12px;
    border-bottom-right-radius:12px;
    margin-top: 50px;
    padding: 50px;
}

path:focus {
    outline: none;
}
*/

@media (max-width: 900px) {
    
}


@media (max-width: 700px) {
    
}